<div id="contact" class="contact  bot70 percent100">


    <div class="container-fluid fixed-bot height100" id="cf" style="">
        <div class="sample height100">
            <!--div class="col-md-6 col-md-offset-3 box sear">
            <div>                            

                    <div class="form-group">
                        <div class="icon-addon addon-md">
                            <input type="text" placeholder="Search Device" class="form-control" id="location">
                            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                        </div>
                    </div>
                            
            </div>
          </div-->
            <div class="col-md-6 col-md-offset-3 box loc loc1 height100" style="background-color:white;padding-bottom: 20px;">
                <div>




                    <!-- Start of time selector -->

                    <div class="">







                        <div>
                            <!-- start of overflown -->
                            <!-- End of time selector -->

                            <div>
                                <table class="time2">
                                    <tr class="border-b">
                                        <td class="border-b w50">
                                            <div style="height:20px;" class="utext">{{detailData.units}}</div>
                                            <div class="bmtext">
                                                <span id="current">{{detailData.current != -1 ? (detailData.current | number:'.2-3') : '__.__'}}</span>
                                            </div>
                                            <div class="captext"> Current </div>
                                        </td>

                                        <td class="border-b w50">
                                            <div style="height:20px;" class="utext">{{detailData.units}}</div>
                                            <div class="bmtext">
                                                <span id="max">{{detailData.max != -1 ? (detailData.max | number:'.2-2') : '__.__'}}</span>
                                            </div>
                                            <div class="captext"> Max </div>

                                        </td>

                                    </tr>
                                    <tr class="border-b w50">

                                        <td class="border-b">
                                            <div style="height:20px;" class="utext">{{detailData.units}}</div>
                                            <div class="bmtext">
                                                <span id="average">{{detailData.average != -1 ? (detailData.average | number:'.2-2') : '__.__'}}</span>
                                            </div>
                                            <div class="captext"> Average </div>

                                        </td>

                                        <td class="border-b w50">
                                            <div style="height:20px;" class="utext">{{detailData.units}}</div>
                                            <div class="bmtext">
                                                <span id="min">{{detailData.min != -1 ? (detailData.min | number:'.2-2') : '__.__'}}</span>
                                            </div>
                                            <div class="captext"> Min </div>

                                        </td>
                                    </tr>

                                </table>

                            </div>

                            <!-- start of values -->

                            <!-- end of buttons -->





                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>


</div>