<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Age - Start Bootstrap Theme</title>

  

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->



    <link href="../../assets/css/new-age.css" rel="stylesheet">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<app-header></app-header>

<body id="page-top">


    <div id="contact" class="measure bg-primary-loc top70">


       
        <div class="sample">

          <div class="col-md-6 col-md-offset-3 box loc" style="background-color:white; min-height:100%;padding-top: 10px;">
            <div>   
                <table>
                    
                  <tr  style="" class="dbg" >

                      <td class="dev" routerLink="/device" style="padding-left:20px;"><b class="cursor w-color font-16">{{title}}</b></td>


                  </tr>
                </table>     

                                     
                <table>

                  <tr class=" mborder cursor"  [ngStyle]="{'background' : item.active ? 'rgb(6, 125, 203)' : 'white'}" #child  *ngFor="let item of measureExtend; let i = index">
                    <td class="loc-w" style="width:50px"><img  [src]="item.link" class="img-responsive small-l" alt="" ></td>
                    <td class="dev">{{item.name}}</td>
                  </tr>

                 

               

                 

                </table>


               
            </div>
          </div>
        </div>
        


    </div>

    <footer>
        <div class="container">
                <div class="buttondiv">
                

                <table class="pzero" style="width:100%;">
                <tr>

                <td class="dbutton50">
                <a class="buttonnew" onclick="window.history.back()">Cancel</a>
                </td>
                <td class="dbutton50">
                <a class="buttonnew" (click)= "saveConfig()">Save</a>
                </td>

                </tr>
                </table>

                </div>

        </div>
    </footer>

    
    <!-- global setting -->
    <script src="js/global.js"> </script>
    <!-- jQuery -->
    <script src="lib/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="lib/bootstrap/js/bootstrap.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/new-age.js"></script>

</body>

</html>
