<app-alert-box  (exit)="alertBox($event)" *ngIf = "isActiveAlertBox" [message] = "message" ></app-alert-box>

    <div id="contact percent100" class="contact ">


        <div class="container-fluid fixed-bot height100" id="cf" style="">
        <div class="sample height100">
          <!--div class="col-md-6 col-md-offset-3 box sear">
            <div>                            

                    <div class="form-group">
                        <div class="icon-addon addon-md">
                            <input type="text" placeholder="Search Device" class="form-control" id="location">
                            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                        </div>
                    </div>
                            
            </div>
          </div-->
          <div class="col-md-6 col-md-offset-3 box loc loc1 height100" style="background-color:white;">
            <div>   

                    


               <!-- Start of time selector -->

               <div class="">







                <div> <!-- start of overflown -->
                <!-- End of time selector -->

                <!-- <chart [options]="options"></chart> -->
                <div id="container">
                  
                    
                </div>

                <!-- start of values -->
                
                <br><br><br>

                  <!-- end of buttons -->





                </div>
                

               
            </div>
          </div>
        </div>
        </div>
        </div>


    </div>



