<app-header></app-header>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Age - Start Bootstrap Theme</title>


    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="./../../assets/css/new-age.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <section id="contact" class="contact bg-primary-loc top70 percent100">


        <div class="container-fluid height100">
        <div class="sample height100">
          <!--div class="col-md-6 col-md-offset-3 box sear">
            <div>                            

                    <div class="form-group">
                        <div class="icon-addon addon-md">
                            <input type="text" placeholder="Search Device" class="form-control" id="location">
                            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                        </div>
                    </div>
                            
            </div>
          </div-->
          <div class="col-md-6 col-md-offset-3 box loc height100"  style="background-color:white; min-height:100%;     padding-top: 10px;padding-bottom: 15px">
            <div>   
                <table>
                    
                  <tr  style="" class="dbg" >

                      <td class="dev" [routerLink]="['/device']" style="padding-left:20px;"><b class="cursor w-color font-16">{{title}}</b></td>


                  </tr>
                </table>                          
                <table  class="loc1">

                  <tr class="mborder cursor" *ngFor="let item of measureExtend; let i = index"  (mouseenter) ="mouseEnter(item.name)"   (mouseleave) ="mouseLeave(item.name)"  (click)="selectMeasureName(item.name,item.unit.name)">
                    <td class="loc-w" style="width:50px" ><img [src]="item.link" class="img-responsive small-l" alt="" ></td>
                    <td class="dev"  [ngStyle]="{color : item.active ? 'white' : ''}" >{{item.name}}</td>
                    
<!--                     <td>
                        <div class="slideThree slideleft">  
                          <input type="checkbox" value="None" id="slideThree" name="check" checked />
                          <label for="slideThree"></label>
                        </div>                        

                    </td> -->
                  </tr>

                  
                </table>
            </div>
          </div>
        </div>
        </div>


    </section>

    <footer>
        <div class="container">
        </div>
    </footer>

    

    <!-- Theme JavaScript -->
    <script src="./../../assets/js/new-age.js"></script>

</body>

</html>
