<div id="light" class="white_content">
    <div class="alertStyle">{{message}}</div>
    <a href="javascript:void(0)" (click)="cancel()" class="alertClose">
      <img src="./../../assets/image/close-black.svg" class="img-responsive small-l" alt=""> </a>
  
    <div class="">
      <table class="pzero" style="width:100%;">
        <tr>
  
          <td class="dbutton50">
            <a class="buttonnew" (click)="cancel()" >Cancel</a>
          </td>
          <td class="dbutton50">
            <a class="buttonnew" (click)="ok()">OK</a>
          </td>
  
        </tr>
      </table>
  
    </div>
  
  </div>
  <div id="fade" class="black_overlay"></div>