<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Age - Start Bootstrap Theme</title>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

   
    <link href="./../../assets/css/new-age.css" rel="stylesheet">    
   

</head>

<body id="page-top">

<!--    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

            </div>


        </div>
    </nav>-->





    <section id="contact" class="contact bg-primary-loc bg-img05">


        <div class="container-fluid">
        <div class="sample">

          <div class="col-md-4 col-md-offset-4 box l-login loc-none ">
            <div>   
                <table class="loc-none ">
                    
                  <tr class="" >
                      <td style="">
                          <div ><br><br><img src="./assets/image/sample-logo.svg" class="img-responsive sl-img" alt="" >
                            <br><br><br>
                          </div>

                      </td>
                  

                  </tr>
                    
                </table>        
                


                <table class="con-values">

                  <tr>  
                    <td style="width: 250px;"    >
                          <div  class="mv-text" ><br>
                                <input class="mv-input-contact" type="text" id ="firstName" name="firstName" placeholder="Username" [(ngModel)]="userName" autocomplete="on">
                                <img src="./assets/image/c-name.svg" style="" class="img-responsive small-l icon-right" alt="" >
                                
                          </div>                                               
                    </td>
                  </tr>



                  <tr>  
                    <td style="width: 250px;"    >
                          <div  class="mv-text" >
                                <input class="mv-input-contact" type="password" id = "password" name="password" placeholder="Password" [(ngModel)]="password" autocomplete="on">
                                <img src="./assets/image/password.svg" style="" class="img-responsive small-l icon-right" alt="" >
                          </div>                                               
                    </td>
                  </tr>



                </table>



                <div class="cbuttonlogin">
                <a class="buttonnew" (click) = "login()">Log In</a>
                </div>
                <br>
                <!-- <div style="color:#ddd" onclick="document.location='forgot-password.html'"><b><u>Forgot my password?</u></b></div> -->
               

                <table class="loc-none">
                  <tr class="" >
                      <td>
                          <div ><br><br><br><img src="./assets/image/gk-logo.svg" class="img-responsive sl2-img" alt="" >
                          </div>
                      </td>
                  </tr>
                </table>    
            </div>
          </div>
        </div>
        </div>


    </section>

    <footer>
        <div class="container">

        </div>
    </footer>


    <!-- Theme JavaScript -->
    <script src="./../../assets/js/new-age.js"></script> 

</body>

</html>
